sélecteur {
propriété: valeur;
}
body{
min-width: 505px; /* your desired width */
max-width: 100%;
min-height: 505px;
max-height: 100%;
position: relative;
vertical-align:middle;
background-color: grey;
}
h2{
  text-align: center;
  color: pink;
  font-size: 2em;
}
h5{
  font-size: 1.2em
}
#kitten{
  position: absolute;
  top: 32%;
  left: 15%;
}
#rabbit{
  position: absolute;
  top: 32%;
  left: 65%;
}
#deer{
  position: absolute;
  top: 70%;
  left: 15%;
}
#puppy{
  position: absolute;
  top: 70%;
  left: 65%;
}
 #cadre1{
  position: absolute;
  top: 30%;
  left: 10%;
}
#cadre2{
  position: absolute;
  top: 30%;
  left: 60%;
}
#cadre3{
  position: absolute;
  top: 68%;
  left: 10%;
}
#cadre4{
  position: absolute;
  top: 68%;
  left: 60%;
}
